/*React App reset */
#root {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*Html elements reset*/
section:before,
section:after {
  content: '';
  display: table;
}

section:after {
  clear: both;
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  flex: 1;
  display: flex;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 700px;
}

ol,
ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  color: inherit;
  word-wrap: break-word;
  text-decoration: none;
}

button,
select {
  cursor: pointer;
}

img,
svg {
  width: '100%';
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  resize: none;
}

input[type='button'],
input[type='submit'],
select,
button {
  cursor: pointer;
}

nav,
main,
aside,
menu,
figure,
footer,
header,
hgroup,
section,
article,
details,
figcaption {
  display: flex;
}

/*SVG on IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$='.svg'] {
    width: 100%;
  }
}
